:root{
  /*create var we will re-use later*/
    --mainBlue :#2a2a72;
    --lightBlue :#009ffd;
    --mainWhite :#f3f3f3;
    --mainDark : #232528;
    --mainYellow : #ffa400;
}

body{
  /*important is used to overwrite the bootstrap*/
    font-family: 'Sen', sans-serif !important;
    background : var(--mainWhite) !important;
    color: var(--mainDark) !important;
}

.card{
   transition: all 1s linear;
}
 .card:hover {
  border: 0.04rem solid rgba(0,0,0,2);
  box-shadow : 2px 2px 5px 0px rgba(0,0,0,0.2);
 }

 .card-body{
    position: relative;
    overflow: hidden;
 }

 .card-body:hover .productImg{
    transform :scale(1.1);
 }

 .productImg{
  transition: all 1s linear;
 }

 .cartBtn{
  position: absolute;
  right :0;
  bottom: 0;
  padding: 0.2rem 0.4rem;
  border: none;
  font-size : 1.4rem;
  transform:translate(100%,100%);
  transition: all 0.5s linear;
 }

 .card-body:hover .cartBtn{
  transform:translate(0,0);
 }

